[
  {rabbit, [
    {log_levels, [{connection, error}]},
    {cluster_nodes, {[{{with $service := .}}{{with $rabbits := .Instances}}{{range (each $rabbits) }}'rabbit@rbt-ceil{{.}}'{{if ne (plus 1 .) $rabbits}},{{end}}{{end}}{{end}}{{end}}], disc}}
  ]},
  {rabbitmq_management, [{listener, [{port, 45672}]}]},
  {kernel, [
    {inet_dist_listen_max, 54001},
    {inet_dist_listen_min, 54001}
  ]}
].
