*.pyc
*.egg-info
build
dist
src/python-novaclient/build
src/python-novaclient/dist
ZenPacks.zenoss.OpenStackInfrastructure/bin/nova
ZenPacks.zenoss.OpenStackInfrastructure/lib/easy-install.pth
ZenPacks.zenoss.OpenStackInfrastructure/lib/*.egg
ZenPacks.zenoss.OpenStackInfrastructure/lib/site.py
.DS_Store
.idea
setup.cfg
