## Source Template /home/jwilmes/dev/git/ZenPackGenerator/zpg/Templates/configure.zcml.tmpl 
<?xml version="1.0" encoding="utf-8"?>
<configure
    xmlns="http://namespaces.zope.org/zope"
    xmlns:browser="http://namespaces.zope.org/browser"
    >

#if $components
    <!-- API: Info Adapters -->

#for $c in sorted($components.values())
#if $c.displayInfo
    <adapter
        provides=".${c.shortklass}.I${c.shortklass}Info"
        for=".${c.shortklass}.${c.shortklass}"
        factory=".${c.shortklass}.${c.shortklass}Info"
        />

#end if
#end for
#end if

#if $customPathReporters
    <!-- Custom Path Reporters -->

#for $c in $components.values()
#if $c.custompaths
    <adapter
        provides="Products.Zuul.catalog.interfaces.IPathReporter"
        for=".${c.shortklass}.${c.shortklass}"
        factory=".${c.shortklass}.${c.shortklass}PathReporter"
        />

#end if
#end for
#end if
#if $components
    <!-- Browser Resources -->
    <browser:resourceDirectory
        name="$zenpack.prepname"
        directory="resources"
        />

    <!-- JavaScript needed for all Zenoss pages. -->
    <browser:viewlet
        name="js-${zenpack.prepname}"
        paths="/++resource++${zenpack.prepname}/js/${zenpack.prepname}.js"
        for="*"
        weight="20"
        manager="Products.ZenUI3.browser.interfaces.IJavaScriptSrcManager"
        class="Products.ZenUI3.browser.javascript.JavaScriptSrcBundleViewlet"
        permission="zope2.Public"
        />

#end if
#if $componentJSs
    <!-- JavaScript needed only for devices. -->

#for $cjs in $componentJSs.values()
    <browser:viewlet
        name="js-${cjs.name}"
        paths="/++resource++${zenpack.prepname}/js/${cjs.name}.js"
        for="${cjs.ConfigureComponent}"
        weight="20"
        manager="Products.ZenUI3.browser.interfaces.IJavaScriptSrcManager"
        class="Products.ZenUI3.browser.javascript.JavaScriptSrcBundleViewlet"
        permission="zope2.Public"
        />

#end for
#end if
#if $impactAdapters
    <!-- Includes -->
    <include
        file="impact.zcml"
        xmlns:zcml="http://namespaces.zope.org/zcml"
        zcml:condition="installed ZenPacks.zenoss.Impact"
        />

    <!-- Dynamic View Configuration
    <include package=".model"/>
    -->

#end if
#if $discoveryMappings
    <include
        file="autoclassification.zcml"
        xmlns:zcml="http://namespaces.zope.org/zcml"
        zcml:condition="installed ZenPacks.zenoss.DiscoveryMapping"
        />
#end if
</configure>
