## Source Template /home/jwilmes/dev/git/ZenPackGenerator/zpg/Templates/zenpackjs.tmpl 
(function(){

var ZC = Ext.ns('Zenoss.component');

#for $c in $components
#if $c.componentInZenPackNameSpace
ZC.registerName('${c.unique_name}', _t('${c.name}'), _t('${c.names}'));
#end if
#end for

})();
